Source: periodicnoise
Section: admin
Priority: extra
Maintainer: Ingo Oeser <nightlyone@googlemail.com>, Ingo Oeser <ingo@jimdo.com>
Uploaders: Mathias Lafeldt <mathias.lafeldt@gmail.com>, Mathias Lafeldt <mlafeldt@jimdo.com>
Build-Depends: debhelper (>= 8.0.0), golang-go, git-core, mercurial, rsync, ca-certificates
Standards-Version: 3.9.2
Homepage: https://github.com/Jimdo/periodicnoise
Vcs-Git: git://github.com/Jimdo/periodicnoise.git

Package: periodicnoise
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Powerful wrapper for periodic tasks like cron jobs
