#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_OPTIONS=-v

GO_PACKAGE=github.com/Jimdo/periodicnoise
BINARIES=pn
GO_COMMANDS=$(addprefix $(GO_PACKAGE)/cmd/,$(BINARIES))

export GOPATH=$(CURDIR)/debian/go_build

%:
	dh $@ --parallel

override_dh_auto_configure:
	mkdir -p $(GOPATH)/src/$(dir $(GO_PACKAGE))
	rsync -a --cvs-exclude --exclude=debian --exclude=git-hooks $(CURDIR)/. $(GOPATH)/src/$(GO_PACKAGE)
	go get `go list -f '{{range .Deps}}{{print .}} {{end}}' $(GO_PACKAGE)` $(GO_PACKAGE)
	go get `go list -f '{{range .Deps}}{{print .}} {{end}}' $(GO_COMMANDS)` $(GO_COMMANDS)

override_dh_auto_test:
	cd $(GOPATH)/src/$(GO_PACKAGE) && go test ./...

override_dh_auto_build:
	go build $(GO_COMMANDS)

override_dh_install:
	dh_install --sourcedir=$(GOPATH)/bin pn $(DESTDIR)/usr/bin

# These are not needed for go programs
override_dh_pysupport override_dh_pysupport2 override_dh_perl:

override_dh_clean:
	rm -rf $(GOPATH)
	dh_clean
